$color: #5264ae;

.group {
    position: relative;
    //padding-bottom: 1em;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 10px;
    }


    label {
        position: absolute;
        pointer-events: none;
        left: 0.5em;
        top: 1em;
        transition: 0.2s ease all;
        color: $color;
    }

    input[type=text] {
        background-color: transparent;
        padding: 0.75em 1.5em;
        line-height: 1.5em;
        border: 0;
        display: block;
        width: 100%;
        color: $color;
        margin-top: 1em;
        border-bottom: 1px solid $color;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $color 4%);
        background-position: -100em 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding-left: 0.5em;
        transition: 0.3s cubic-bezier(.64,.09,.08,1) all;
        &:focus {
            background-position: 0 0;
            ~ label {
                color: $color;
                font-size: 0.8em;
                top: -1.1em;
            }
        }
        &:focus {
            outline: none;
        }
        
    }
    input[type=text].ng-touched.ng-invalid {
        border: 0;
        color: red;
        border-bottom: 1px solid red;
    }
}

.error-message {
    color: red;
    font-size: 10px;
    margin-top: 2px;
}



.valid {
    color: green !important;
    border-bottom: 1px solid green !important;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, green 4%) !important;
}

.dirty {

    background-position: 0 0;
    ~ label {
        color: $color;
        font-size: 0.8em;
        top: -1.1em;
    }
}

.error {
    color: red !important;
    border-bottom: 1px solid rgb(158, 151, 151) !important;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, red 4%) !important;
}

.validLabel {
    color: green !important;
}

.errorLabel {
    color: red !important;
}